<div class="container-fiuld post-posts">
  <h3 class="ppp">企業一覧</h3>
  <div class="favorite-coop-items">
    <div class="container">
      <ul class="favo-list">
        <li class="favo-list-item">
          <a class="tesla" href="companies/1">TESLA</a>
        </li>
        <li class="favo-list-item">
          <a class="tesla" href="companies/2">Apple</a>
        </li>
        <li class="favo-list-item">
          <a class="tesla" href="companies/3">Google</a>
        </li>
        <li class="favo-list-item">
          <a class="tesla" href="companies/4">Amazon</a>
        </li>
        <li class="favo-list-item">
          <a class="tesla" href="companies/5">NETFLIX</a>
        </li>
      </ul>
    </div>
  </div>
</div>