<div class="container-fiuld room">
  <h3 class="ppp">検索結果</h3>
  <div class="row">
    <% @results.each do |room| %>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="room-flame">
          <div class="room-img">
            <img src="<%= room.img %>" class="room-image" alt="部屋画像">
          </div>
          <div class="room-text-box">
            <p class="room-name"><%= link_to(room.name, "/rooms/#{room.id}") %></p>
            <p class="room-place"><%= room.place %></p>
            <p class="room-price">¥<%= room.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>