<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="top-form">
        <h3><span>Napier</span>へようこそ！</h3>
        <h2>Napier（ネイピア）は自分の企業分析を簡単にシェアできるSNSです。</h2>
        <div class="top-box">
          <div class="top-wrapper">
            <div class="top-about">
              <div class="top-about-heading">
                <h3 class="head-h3"><span>Napier</span>を利用することで何を得れるか</h3>
              </div>
              <div class="top-about-items">
                <ol>
                  <li>企業の分析を通してビジネスモデルや株式の知識を得れる</li>
                  <li>株式投資やビジネスモデル構築に興味をもち投資や経営を始める</li>
                  <li>自分の力で自己資産を築くことができる</li>
                  <li>知識・資産が増えれば人生の選択肢が増える</li>
                </ol>
              </div>
              <p>私たちのSNS サービスにより「人生の選択肢となる土台」を提供します！</p>
            </div>
          </div>
        </div>
        <div class="top-box">
          <div class="top-wrapper">
            <div class="top-about">
              <div class="top-about-heading">
                <h3 class="head-h3">ログイン / 新規登録</h3>
              </div>
              <p>ログイン/新規登録すると、このSNSが提供する各種サービスが利用可能になります！</p>
              <div class="top-about-items">
                <ol>
                  <li>企業をお気に入り登録できる</li>
                  <li>自分の分析結果を自由に投稿できる</li>
                  <li>ユーザー投稿記録が残る</li>
                </ol>
              </div>
              <p>今後さまざまな機能を実装していく予定です。Comming Soon !!!</p>
            </div>
          </div>
        </div>
        <div class="top-footer-btn">
          <%= link_to "ログイン", login_path %>
        </div>
        <div class="top-footer-btn">
          <%= link_to "登録する", signup_path %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>