<header>
  <div class="container">
    <%= link_to "TravelApp", root_path, id: "logo" %>
    <nav>
      <ul>
        <li class="btn1"><%= link_to "ログイン", '#' %></li>
        <li class="btn2"><%= link_to "登録する", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>